*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #a1c3ff;
    height: 100vh;
}
.navbar{
    background-color:#3474e6;
    color: white;
    height: 60px;
}
ul{
    list-style-type: none;
}
.navbar .logo{
    font-size: x-large;
    font-weight: bold;
}
.navbar .container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.navbar a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}
.navbar a:hover{
    color: lightblue;
}
.navbar ul{
    display: flex;
}
.navbar ul li{
    margin-left: 20px;
}